frontend/node_modules
backend/flashcards.json
backend/flash-cards-app-3c9c4-firebase-adminsdk-wjhu1-a78d1a1b5d.json
backend/flash-cards-app-3c9c4-firebase-adminsdk-wjhu1-a78d1a1b5d.json
backend/flashcards-app-cc39f-firebase-adminsdk-azs6x-3aefa8aa0e.json
backend/flashcards-app-cc39f-firebase-adminsdk-azs6x-5d956b67ee.json
backend/flashcards-app-cc39f-firebase-adminsdk-azs6x-52d9351ad1.json
frontend/.env.local